@using Domain
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Text.RegularExpressions
@using Azure.Core
@model VoedselVerspillingApp.ViewModels.MealBoxViewModel

@{
    ViewData["Title"] = "Maaltijd Toevoegen";
}

<div class="container">
    <div class="text-center" xmlns="http://www.w3.org/1999/html">
        <h1>@ViewData["Title"]</h1>
    </div>

    <form asp-action="CreateMealBox" method="post" class="m-2">
        <div class="row">
            <div asp-validation-summary="All"></div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label asp-for="Name" class="form-label">Naam:</label>
                    <input asp-for="Name" class="form-control"/>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <div class="form-group">
                        <label class="form-label" asp-for="City" for="MealBoxCity">Stad</label>
                        <input class="form-control" value=@ViewBag.City style="" id="MealBoxCity" readonly asp-for="City">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="MealBoxPickUpTime" class="form-label" asp-for="PickUpTime">Ophaaldatum- en tijd</label>
                    <input type="datetime-local" class="form-control" asp-for="PickUpTime" id="MealBoxPickUpTime"
                           min=@DateTime.Now.ToString("yyyy-MM-ddTHH:mm") max=@DateTime.Now.AddDays(2).ToString("yyyy-MM-ddTHH:mm")>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="MealBoxPickUpBy" class="form-label" asp-for="PickUpBy">Uiterste Ophaaldatum- en tijd</label>
                    <input type="datetime-local" class="form-control" asp-for="PickUpBy" id="MealBoxPickUpBy"
                           min=@DateTime.Now.ToString("yyyy-MM-ddTHH:mm") max=@DateTime.Now.AddDays(2).ToString("yyyy-MM-ddTHH:mm")>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label class="form-label" asp-for="Price" for="MealBoxPrice">Prijs</label>
                    <input class="form-control" id="MealBoxPrice" asp-for="Price">
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="MealType" class="form-label">
                        Type maaltijd:
                    </label>
                    <select asp-for="MealType" class="form-control">
                        <option>Brood</option>
                        <option>Drank</option>
                        <option>Dessert</option>
                        <option>Warme Maaltijd</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="IsEighteen" class="form-label">
                        Leeftijdsgrens:
                    </label>
                    <select asp-for="IsEighteen" class="form-control">
                        <option value="false">16+</option>
                        <option value="true">18+</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <input class="form-control" id="Canteen" value=@ViewBag.CanteenId type="hidden" asp-for="CanteenId">
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    @{
                        
                        foreach (var p in Model.Products)
                        {
                            <input asp-for=@p.IsChecked 
                                   type="checkbox" 
                                   value=@p.Id
                                   id=@p.Id 
                                   name="ProductIds" 
                                   checked=@p.IsChecked> 
                            @p.Name
                        }
                    }
                </div>
            </div>
            <div class="text-center form-group" xmlns="http://www.w3.org/1999/html">
                <button type="button" onclick="location.href='@Url.Action("AvailableMealBoxes", "Home")'" class="btn btn-secondary">Terug</button>
                <button type="button" class="btn btn-brand-color" data-bs-toggle="modal" data-bs-target="#confirmationModal" onclick=getProducts()>Toevoegen</button>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Gegevens opslaan?</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Wilt de nieuwe maaltijdbox maken?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">Annuleren</button>
                        <button type="submit" class="btn btn-brand-color">Opslaan</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>