@using System.Globalization
@using Domain
@using Microsoft.EntityFrameworkCore
@using Persistence

@{
    ViewData["Title"] = "Maaltijd aanpassen";
}

<div class="container">
    <div class="row">
        <div class="text-center" xmlns="http://www.w3.org/1999/html">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row">
        <form>
            <div class="form-group">
                <label for="MealBoxName">Naam</label>
                <input class="form-control" id="MealBoxName" placeholder="Naam van de maaltijdbox...">
            </div>
            <div class="form-group">
                <label for="MealBoxCity">Stad</label>
                <select class="form-control" id="MealBoxCity">
                    <option>Breda</option>
                    <option>Tilburg</option>
                    <option>'s-Hertogenbosch</option>
                    <option>Roosendaal</option>
                </select>
            </div>
        </form>
    </div>
</div>