@{
    ViewData["Title"] = "Home Pagina";
}

<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <h1 class="display-4">Avans Hogeschool</h1>
    <p class="subtext">Eten weggooien is zonde. Avans deelt deze mening; hierom deze website.
        <br/>Vroeger gooiden onze kantines eten weg aan het einde van de dag, maar daar komt nu verandering in.
        <br/>Maaltijdpakketten voor gereduceerde prijzen zijn hier elke dag te vinden voor de verschillende Avans kantines,
        <br/>betaling bij afhalen. Zie je snel!</p>
    <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("BeschikbareMaaltijden", "Home")'">Beschikbare Maaltijden</button>
</div>
<div class="container homeImages row">
    <div class="col-sm">
        <img class="homeImage" src="Food1.png" alt="An assortment of green foods"/>
    </div>
    <div class="col-sm">
        <img class="homeImage" src="Food2.png" alt="Another assortment of green foods"/>
    </div>
</div>